{% extends 'base.html '%}
{% load static %}



{% block content%}

<div class="container mt-5">
{% block title%} <h2 style="color:#17a2b8; text-align:center" class="mb-5"> BURÇLAR</h2>  {%endblock title%}

  {% if user.is_authenticated %}
  <div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/koc.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: MARS</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">KOÇ</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/boga.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: VENÜS</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">BOĞA</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/ikizler.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: MERKÜR</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">İKİZLER</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/yengec.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: AY</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">YENGEÇ</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/aslan.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: GÜNEŞ</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">ASLAN</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/basak.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: MERKÜR</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">BAŞAK</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/terazi.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: VENÜS</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">TERAZİ</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/akrep.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: MARS</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">AKREP</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/yay.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: JÜPİTER</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">YAY</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/oglak.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
      <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: SATÜRN</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color: #17a2b8;">OĞLAK</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
  
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 975px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/kova.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
        <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: SATÜRN</p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #17a2b8;">KOVA</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
    
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 975px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/balik.jpg' %}" class="img-fluid rounded-start ml-5 mt-5" alt="...">
        <p class="mt-5" style="text-align: center; color:#17a2b8">YÖNETİCİ GEZEGENİ: JÜPİTER</p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #17a2b8;">BALIK</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita iste aperiam ipsam ipsa quo pariatur dignissimos natus ducimus, nam iure repudiandae doloremque culpa quisquam rerum facilis excepturi cum facere dolore. Eum itaque veritatis ut magni aliquam ipsa eligendi deleniti porro suscipit excepturi quo ab voluptas maiores, ullam recusandae minus beatae sapiente expedita voluptatum repellat tempora consequatur sint. Corporis id illum amet minima facere. Beatae delectus obcaecati voluptas ad voluptatibus quo, repellat aperiam culpa illum non itaque hic velit recusandae aliquid dolores modi minus sit quae aspernatur quia iure, voluptates odit molestias commodi. Eaque libero explicabo minus minima incidunt facilis!</p>
    
        </div>
      </div>
    </div>
  </div>






  
       
  {%else%}


  <p >Burçlar devamı için..
    <a href="{% url 'login'%}" class="btn btn-info ml-1">Giriş</a>
    <a href="{% url 'signup'%}" class="btn btn-info ml-1">Kaydol</a>
  </p>

{% endif %}




{%endblock content%}